* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.background {
  height: 1000px;
  width: 100vw;
  min-width: 435px;
  background: #408dce
    url("./cp_social_app_background.jpg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  The Device */
div.iphone {
  height: 810px;
  width: 435px;
  background: url("./cp_social_app_iphone.png")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.screen {
  height: 568px;
  width: 320px;
  position: absolute;
  top: 119px;
  left: 59px;
  overflow: hidden;
  position: relative;
}
iframe {
  height: 100%;
  width: 100%;
}
